<%- include("include/header"); %>
<main id="main">
  <div class="contents">
    <h2 class="title"><%= title %></h2>
    <div class="success">
      <h1>회원가입이 성공적으로 이루어 졌습니다</h1>
      <a href="/login">로그인 페이지로 가기</a>
    </div>
  </div>
</main>

<%- include("include/footer"); %>
